.card-content {
    height: fit-content;
    position: absolute;
    bottom: 20%;
    color: var(--color--white);
    z-index: 10;
    padding: 0 20px;
}

.card-content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 2px;
    color: var(--color--white);
}

.card-content-title-name {
    margin-right: 16px;
    font-size: 32px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: 2px;
    color: var(--color--white);
}

.card-content-adoptive {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    color: var(--color--white);
    margin-left: 12px;
    position: relative;
}

.card-content-adoptive::before {
    content: " ";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    background-color: #2DF187;
    position: absolute;
    top: 6px;
    left: -12px;
}

.card-content-location {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color--white);
    padding: 10px 0 6px 0px;
    letter-spacing: 3px;
}

.card-content-location-icon {
    height: 16px;
    margin-left: -3px;
    margin-right: 6px;
}