.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--color--blue-05);
}

.main {
    width: 76vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}